*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a{
  text-decoration: none;
}

.bold{
  font-weight: bold;
}

body{
    margin: 0;
    color: black;
    font-family: 'Oswald', sans-serif;
}

.main-menu{
    width: 100%;
    padding: 10px 0;
    position: absolute;
    left: 0;
    top: 0;

    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .logo-container{
        display: flex;
        align-items: center;
        

        img{
            max-width: 100px;
            width: 100%;
        }
    }

    &-nav{
        a{
            margin-left: 10px;
            color: white;
            text-decoration: none;
            font-size: 22px;
        }
    }
}

.container{
    max-width: 1280px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.main-header{
    min-height: 100vh;
    background: url(../img/background.png);
    background-size: cover;
    display: flex;
    padding-top: 150px;

    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .main-icon{
        width: 50%;
        justify-content: center;
        display: flex;
        align-items: center;

        img{
            max-width: 400px;
            width: 100%;
        }
    }

    .main-text{
        width: 40%;
        display: flex;
        color: white;
        flex-direction: column;
        margin-left: auto;
        padding-bottom: 10%;

        .slogan{
            text-align: left;
            width: 100%;
        }
    }
}

  .main-icon {
    display: inline-block; 
    position: relative; 
  }
  

  @keyframes floatAnimation {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); } 
    100% { transform: translateY(0); } 
  }
  

  .main-icon img {
    animation: floatAnimation 4s ease-in-out infinite; 
  }

  h1{
    font-size: 35px;
    margin-bottom: 0;
    margin-top: 0;
  }

  .fixed-word, .changing-word{
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 0;
  }

  h2{
    margin-top: 0;
  }

  /* Estilos para el contenedor principal */
  .main-text-item {
    display: flex;
    overflow: hidden; /* Oculta cualquier contenido que se desborde del contenedor */ 
    width: 100%;

    h1{
        width: fit-content;
    }
  }
  

  .fixed-word {
    margin-right: 15px; 
    color: white;
  }
  

  .changing-word {
    display: block; 
    color: #FCD013;
    animation: slideDown 4s infinite; 
  }
  
  /* Animación para desplazarse hacia abajo */
  @keyframes slideDown {
    0% { transform: translateY(-100%); } /* Estado inicial: fuera de la vista arriba */
    100% { transform: translateY(0); } /* Estado final: en su posición normal */
  }

  .button{
    margin-top: 30px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #FCD013;
    padding: 10px 20px;
    color: black;
    font-weight: bold;
    font-size: 24px;
    width: fit-content;
  }

  .servicios{
    padding: 80px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .container{
        border-radius: 10px;
        padding: 50px 30px;
        background-color: #F5F8FF;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        column-gap: 40px;

        .servicio-item{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            margin-bottom: 40px;

            img{
                max-width: 200px;
                width: 100%
            }

            h3{
                font-size: 20px;
                margin: 0;
                line-height: 1;
                margin-top: 20px;
                color:#3A388A;
            }
        }
    }
  }

  .section-heading{
    font-size: 35px;
  }

  .mobile-icon{
    display: none;
  }

  .yellow-text{
    color:#FCD013;
  }

  footer{
    background-color: #F5F8FF;

    .container{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 80px 20px;

      .container-column{
        width: 33%;
        margin: 0 20px;
        font-size: 18px;

        p{
          color: #3A388A;
          margin: 10px 0;
        }

        a{
          color: #3A388A;
          font-size: 18px;
        }

        .contact-item{
          display: flex;
          align-items: center;
          margin: 10px 0 20px;

          span{
            margin-right: 10px;
            color: #3A388A;
          }
        }

        .address{
          display: flex;
          align-items: center;

          img{
            margin-left: 10px;
            width: 35px;
          }
        }
      }
    }
  }

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}

@media screen and (max-width: 1080px){
  .main-header{
    padding-top: 0;
    background-position: center;
    .container{
      justify-content: center;
      flex-wrap: wrap-reverse;
      position: relative;

        .main-text{
          width: 100%;
          padding: 0 15px;
        }

        .main-icon{
          display: none;
        }

        .button{
          display: none;
        }
    }

    .mobile-icon{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 40px;
      color: white;
      text-decoration: none;
      font-size: 20px;
      animation: floatAnimation 4s ease-in-out infinite;

      img{
        width: 100px;
      
      }

      p{
        margin: 0;
      }
    }
  }

  h1{
    font-size: 35px;
  }

  .fixed-word, .changing-word{
    font-size: 35px;
  }

  .button{
    margin-top: 0;
  }

  .servicios{
    .container{
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: 768px){
  .servicios{
    .container{
      .servicio-item{
        h3{
          font-size: 16px;
        }
      }
    }
  }

  h1{
    font-size: 30px;
  }

  .fixed-word, .changing-word{
    font-size: 30px;
  }

  footer{
    .container{
      .container-column{
        width: 100%;
      }
    }
  }
}

.whatsapp-link{
  height: 90px;
  width: 90px;
  display: flex;
  background-color: #25CC64;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  img{
    width: 80%;
    border-radius: 50%;
  }
}